global {
	font-family:"Tahoma";
	font-size:11px;
	color:#222222;
}

Application {
	theme-color:#3366CC;
	selection-color:#D0DFE6;
	roll-over-color:#E6F0F3;
	background-size:"100%";
	background-color:#330066;
}


Panel {
	header-colors: #CCEEEE, #4D4DFF;
	footer-colors: #CCEEDD, #4D4DFF;
	corner-radius:10;
	drop-shadow:"true";
	shadow-distance:6;
	margin-top:0;
	margin-left:0;
	margin-right:0;
	margin-bottom:0;	
}

Alert {
	header-colors: #CCEEEE, #4D4DFF;
	corner-radius:10;
}

Button {
	color: #FFFFFF;
	disabled-color: #999999;
	text-roll-over-color: #FFFFFF;
	font-family:"Verdana";
	font-size: 9px;
	font-weight: "bold";
	fill-colors: #3366FF, #330099;
	corner-radius:8;
	border-color: #330066;
	border-thickness:3;
}




DataGrid {
	alternating-row-colors:#FFFCEC,#EEEEF6;
	border-style:"solid";
	border-color:#CCCCCC;
	header-color:#CCEEEE;
	v-grid-line-color:#CCCCCC;
	color:#111111;
	font-size:9px;
	text-indent:4;
	font-weight: "bold";
	text-roll-over-color: #111111;
	fill-colors: #FFFCEC,#CCEEEE;
	selected-fill-colors: #0099FF,#3300CC;
	background-color: #FFFCEC;
}


NumericStepper {
	color: #111111;
	font-size: 9px;
	font-weight: "bold";
	fill-colors: #FFFFFF, #C2CCCF;
	corner-radius: 7;
	border-style: "inset";
	border-thickness: 0;
	border-color: #330066;
}



ComboBox {
	color: #111111;
	text-roll-over-color: #111111;
	font-size:9px;
	font-weight: "bold";
	fill-colors: #FFFFFF, #E0E7FF;
	background-color: #E0E7FF;	
	corner-radius: 7;
	border-thickness: 1;
	border-color: #330066;
	margin-left: 6;
	selection-color:#4681e7;
	roll-over-color:#9ab5f4;

}


HSlider {
	fill-colors: #FFFFFF, #C2CCCF;
	track-colors: #CCEEEE, #4D4DFF;
	border-color: #666666;
	tick-color: #666666;
	label-offset: -3;
	tick-offset: -3;
	track-highlight: true;
}


Accordion {
	margin-top:-11;
	color: #111111;
	font-size:9px;
	font-weight: "bold";
	text-roll-over-color: #111111;
	fill-colors: #FFFCEC,#809FFF;
	selected-fill-colors: #668CFF, #4D4DFF;
	border-style: "solid";
	background-color: #FFFCEC;
}


ScrollBar {
	fill-colors: #FFFFFF, #C2CCCF;
	border-color: #330066;
	corner-radius: 4;
	track-colors: #3300CC, #4D4DFF;
}


RadioButton {
	fill-colors: #FFFFFF, #C2CCCF;
	border-color: #330066;
}

LinkButton {
	color: #000000;
}

RadioButton {
	color: #000000;
}

CheckBox {
	color: #000000;
}


